:root {
  --black: #000000;
  --white: #ffffff;
  --red: #e70e06;
  --grey: #a9a9a9;
  --dark-grey: #121214;
}
* {
  padding: 0;
  margin: 0;
  /* font-family: "Times New Roman", Times, serif; */
  font-family: sans-serif;
}
html {
  scroll-behavior: smooth;
}
/*  */
/*  */
/*  */
body {
  background-color: var(--black);
}
.text-color {
  color: var(--red);
}
/*  */
/*  */
/*  */
nav {
  position: fixed;
  width: 100%;
  z-index: 1818;
  display: flex;
  justify-content: center;

  .nav-container {
    width: 50%;
    margin-top: 10px;
    padding: 5px 20px 5px 20px;
    border: 0.2px solid var(--grey);
    border-radius: 15px;

    background: rgba(0, 0, 0, 0.83);
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(2.3px);
    -webkit-backdrop-filter: blur(2.3px);

    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;

      li {
        list-style: none;

        &:nth-of-type(1) {
          margin-right: auto;
        }

        a {
          text-decoration: none;
          color: var(--white);
          letter-spacing: 1px;
          font-weight: bold;
          transition: color 0.3s;

          &:hover {
            color: var(--red);
          }

          img {
            width: 30px;
            border-radius: 50%;
            outline: 1.75px solid var(--red);

            &:hover {
              outline: 1.75px solid transparent;
            }
          }
        }
      }
    }
  }
}
/*  */
/*  */
/*  */
.main {
  min-height: 88vh;
  display: flex;
  background-color: #000000;
  opacity: 1;
  background-image: linear-gradient(#181818 1px, transparent 1px),
    linear-gradient(to right, #181818 1px, #000000 1px);
  background-size: 20px 20px;
  background-attachment: fixed;
  justify-content: center;

  .main-container {
    display: flex;
    /* margin-top: auto; */
    align-items: center;
    justify-content: center;

    .main-img {
      /* width: 420px; */
      width: clamp(437.75px, 28.5vw, 693px);
      transform: translateX(6%);
      margin-top: auto;
    }

    .main-content {
      display: flex;
      flex-direction: column;
      width: 32%;
      transform: translateX(-6%);
      color: var(--white);
      font-weight: bold;

      .main-content-text {
        p {
          /* font-size: 58px; */
          font-size: clamp(17px, 3.75vw, 60px);
        }
      }
      .main-content-name {
        margin-bottom: 0.6vw;
        p {
          /* font-size: 80px; */
          font-size: clamp(20px, 5.18vw, 80px);
        }
      }
      .main-content-brief {
        margin-bottom: 1vw;
        p {
          /* font-size: 40px; */
          font-size: clamp(16px, 2.68vw, 45px);
        }
      }
      .main-content-link {
        ul {
          display: flex;
          gap: 1vw;

          li {
            list-style: none;

            a {
              text-decoration: none;
              color: var(--white);
              /* font-size: 30px; */
              font-size: clamp(16px, 2vw, 35px);
              transition: color 0.3s;

              &:hover {
                color: var(--red);
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 700px) {
    .main-container {
      flex-direction: column;
      margin: 1.5vw;
      gap: 5vw;

      .main-img {
        width: 80%;
        margin-top: unset;
        transform: translateX(0);
        border-bottom: 1px solid var(--red);
      }
      .main-content {
        width: 80%;
        transform: translateX(0);
        text-align: center;

        .main-content-link {
          ul {
            justify-content: center;
          }
        }
      }
    }
  }
}
/*  */
/*  */
/*  */
.about {
  display: flex;
  justify-content: center;

  .about-container {
    /* margin: 60px; */
    margin: clamp(20px, 4vw, 60px);
    display: flex;
    flex-direction: column;

    .about-row {
      display: flex;
      /* gap: 1.2vw; */
      gap: clamp(12px, 1.2vw, 18px);

      &:nth-child(2) {
        .about-content-not-empty {
          p {
            text-align: right;
            text-align-last: right;
          }
        }
      }

      .about-content {
        /* width: 400px; */
        /* width: 25vw; */
        width: clamp(247px, 25vw, 418px);
        /* height: 180px; */
      }
      .about-content-not-empty {
        /* border: 1px solid white; */
        color: var(--white);

        p:nth-of-type(1) {
          /* font-size: 30px; */
          /* font-size: 2vw; */
          font-size: clamp(19px, 2vw, 33px);
          font-weight: bold;
          margin-bottom: 0.5vw;
        }
        p:nth-of-type(2) {
          /* font-size: 22px; */
          /* font-size: 1.3vw; */
          font-size: clamp(13.5px, 1.3vw, 23px);
          margin-bottom: 0.5vw;
          text-align: justify;
        }
        p:nth-of-type(3) {
          /* font-size: 18px; */
          /* font-size: 1.1vw; */
          font-size: clamp(13px, 1.1vw, 19px);
          color: var(--grey);
        }
      }

      .about-content-mid {
        display: flex;
        flex-direction: column;
        align-items: center;

        .about-content-mid-circle {
          /* width: 15px; */
          width: clamp(7px, 1vw, 15px);
          /* height: 15px; */
          height: clamp(7px, 1vw, 15px);
          border-radius: 100%;
          background-color: var(--white);
        }
        .about-content-mid-line {
          height: 100%;
          /* width: 3px; */
          width: clamp(1px, 0.2vw, 3px);
          background-color: var(--white);
        }
      }
    }
  }
  @media (max-width: 580px) {
    .about-container {
      margin: 8vw 1.5vw;

      .about-row {
        &:nth-child(2) {
          .about-content-not-empty {
            p {
              text-align: justify;
              text-align-last: left;
            }
          }
        }

        &:last-child {
          .about-content-not-empty {
            padding-bottom: 0;
          }
        }

        .about-content-not-empty {
          order: 2;
          padding-bottom: 4vw;
        }

        .about-content-empty {
          display: none;
        }

        .about-content-mid {
        }
      }
    }
  }
}
/*  */
/*  */
/*  */
.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .skill-container {
    width: 80%;
    outline: 1px solid green;

    &[data-animated="true"] {
      overflow: hidden;
    }
    &[data-animated="true"] .skill-list {
      flex-wrap: nowrap;
    }
    &[data-animated="true"] .scroller-inner-right {
      width: fit-content;
      animation: scroll-right 20s linear infinite;
    }
    &[data-animated="true"] .scroller-inner-left {
      width: fit-content;
      animation: scroll-left 20s linear infinite;
    }
  }

  .skill-list {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;

    li {
      img {
        width: 200px;
        font-size: 200px;
      }
    }
  }
}
@keyframes scroll-right {
  to {
    transform: translateX(50%);
  }
}
@keyframes scroll-left {
  to {
    transform: translateX(-50%);
  }
}
/*  */
/*  */
/*  */
.project {
  .project-container {
    margin: 1.5vw 10vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* gap: 3vw; */
    row-gap: 1vw;
    column-gap: 3vw;

    .project-row {
      display: flex;
      flex-direction: column;
      gap: 0.8vw;
      padding: 1vw;
      /* border: 1px solid var(--red); */

      .project-container-title {
        p {
          color: var(--white);
          font-weight: bold;
          font-size: clamp(19px, 2vw, 33px);
          text-align: center;
        }
      }
      .project-container-content {
        display: flex;
        gap: 1.5vw;
        justify-content: center;

        .project-p {
          height: clamp(50px, 25vw, 450px);
          width: clamp(50px, 19vw, 330px);
          padding: 1vw;
          padding: clamp(5px, 1vw, 16px);
          background-color: var(--dark-grey);
          display: flex;
          flex-direction: column;
          gap: clamp(2px, 0.3vw, 5px);
          color: var(--white);

          .p-res {
            iframe {
              width: 100%;
              height: clamp(50px, 10.5vw, 185.63px);
            }
            img {
              width: 100%;
            }
          }
          .p-title {
            p {
              font-size: clamp(13.5px, 1.3vw, 23px);
              font-weight: bold;
            }
          }
          .p-desc {
            p {
              font-size: clamp(12px, 1.1vw, 19px);
              line-height: clamp(10px, 1.3vw, 23px);
              /* line-height: 20px; */
            }
          }
          .p-link {
            margin-top: auto;
            a {
              font-size: clamp(12px, 1.1vw, 19px);
              color: var(--white);
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
/*  */
/*  */
/*  */
.blog {
  display: flex;
  justify-content: center;

  .blog-container {
    display: flex;
    justify-content: center;
    gap: 1.3vw;
    width: 65%;
    margin: 2vw 0;

    .blog-title {
      p {
        font-size: 2vw;
        font-weight: bold;
        color: var(--white);
        margin-top: 2vw;
      }
    }
    .blog-content {
      width: 88%;

      ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 20px;

        li {
          a {
            display: flex;
            gap: 1vw;
            color: var(--white);
            text-decoration: none;
            padding: 1vw;
            border: 1px solid var(--red);
            font-size: 1.2vw;

            .blog-link {
              margin-left: auto;
              transform: translateX(-85%);
              opacity: 0;
              transition: 0.5s;
            }
            &:hover {
              .blog-link {
                transform: translateX(0);
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}
/*  */
/*  */
/*  */
footer {
  background-color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;

  .footer-container {
    padding: 28px 0 38px 0;
    width: 80%;

    p {
      color: var(--white);
      text-align: center;
    }
  }
}
