:root {
  --black: #000000;
  --white: #ffffff;
  --red: #e70e06;
  --grey: #a9a9a9;
  --dark-grey: #121214;
}
* {
  padding: 0;
  margin: 0;
  /* font-family: "Times New Roman", Times, serif; */
  font-family: sans-serif;
}
html {
  scroll-behavior: smooth;
}
/*  */
/*  */
/*  */
body {
  background-color: var(--black);
}
.text-color {
  color: var(--red);
}
.text-bold {
  font-weight: bold;
}
/*  */
/*  */
/*  */
/* nav {
  position: fixed;
  width: 100%;
  z-index: 1818;
  display: flex;
  justify-content: center;

  .nav-container {
    width: clamp(700px, 55vw, 1292px);
    margin-top: 10px;
    padding: 5px 20px 5px 20px;
    border: 0.2px solid var(--grey);
    border-radius: 15px;

    background: rgba(0, 0, 0, 0.83);
    backdrop-filter: blur(2.3px);
    -webkit-backdrop-filter: blur(2.3px);

    ul {
      display: flex;
      align-items: center;

      .nav-item {
        display: flex;
        gap: 12px;
      }

      li {
        list-style: none;

        &:nth-of-type(1) {
          margin-right: auto;
        }

        .nav-burger {
          display: none;
        }
        a {
          text-decoration: none;
          color: var(--white);
          letter-spacing: 1px;
          font-weight: bold;
          transition: color 0.3s;

          &:hover {
            color: var(--red);
          }

          img {
            width: 30px;
            border-radius: 50%;
            outline: 1.75px solid var(--red);

            &:hover {
              outline: 1.75px solid transparent;
            }
          }
        }
      }
    }
  }
  @media (max-width: 1000px) {
    .nav-container {
      width: 70%;
    }
  }
  @media (max-width: 700px) {
    .nav-container {
      ul {
        .nav-item {
          flex-direction: column;
        }
        li {
          .nav-burger {
            display: block;
          }
        }
      }
    }
  }
} */
nav {
  position: fixed;
  width: 100%;
  z-index: 1818;
  display: flex;
  justify-content: center;

  .nav-container {
    width: clamp(700px, 55vw, 1292px);
    margin-top: 10px;

    padding: 5px 20px 5px 20px;
    border: 0.2px solid var(--grey);
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.83);
    backdrop-filter: blur(2.3px);
    -webkit-backdrop-filter: blur(2.3px);

    display: flex;
    align-items: center;

    .nav-img {
      margin-right: auto;
      img {
        width: 30px;
        border-radius: 50%;
        /* outline: 1.75px solid var(--red);

        &:hover {
          outline: 1.75px solid transparent;
        } */
      }
    }

    .nav-burger {
      display: none;
      color: var(--white);
    }

    .nav-item {
      display: flex;
      /* align-items: center; */
      list-style: none;
      gap: 12px;

      li {
        a {
          text-decoration: none;
          color: var(--white);
          letter-spacing: 1px;
          font-weight: bold;
          transition: color 0.3s;

          &:hover {
            color: var(--red);
          }
        }
      }
    }
  }
  @media (max-width: 1000px) {
    .nav-container {
      width: 70%;
    }
  }
  @media (max-width: 700px) {
    .nav-container {
      position: relative;

      .nav-burger {
        display: block;
      }

      .nav-item {
        position: fixed;
        z-index: 1818;
        flex-direction: column;
        width: 100%;
        gap: 0;
        top: 120%;
        left: 0;
        border: 0.2px solid var(--grey);
        border-radius: 15px;
        background: rgba(0, 0, 0, 0.83);
        backdrop-filter: blur(2.3px);
        -webkit-backdrop-filter: blur(2.3px);
        transform: translateY(-125%);
        opacity: 1;
        transition: transform 0.5s, opacity 0.5s;

        li {
          display: flex;

          a {
            padding: 25px 20px 25px 20px;
            width: 100%;
            text-align: center;
          }
        }
      }
      .nav-item-mobile {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
}
/*  */
/*  */
/*  */
.main {
  min-height: 88vh;
  display: flex;
  background-color: #000000;
  opacity: 1;
  background-image: linear-gradient(#181818 1px, transparent 1px),
    linear-gradient(to right, #181818 1px, #000000 1px);
  background-size: 20px 20px;
  background-attachment: fixed;
  justify-content: center;

  .main-container {
    display: flex;
    /* margin-top: auto; */
    align-items: center;
    justify-content: center;

    .main-img {
      /* width: 420px; */
      width: clamp(437.75px, 28.5vw, 693px);
      transform: translateX(6%);
      margin-top: auto;
    }

    .main-content {
      display: flex;
      flex-direction: column;
      width: 32%;
      transform: translateX(-6%);
      color: var(--white);
      font-weight: bold;

      .main-content-text {
        p {
          /* font-size: 58px; */
          font-size: clamp(22px, 3.75vw, 60px);
        }
      }
      .main-content-name {
        /* margin-bottom: 0.6vw; */
        margin-bottom: clamp(6px, 0.6vw, 15px);
        p {
          /* font-size: 80px; */
          font-size: clamp(25px, 5.18vw, 80px);
        }
      }
      .main-content-brief {
        /* margin-bottom: 1vw; */
        margin-bottom: clamp(6px, 1vw, 25px);
        p {
          /* font-size: 40px; */
          font-size: clamp(20px, 2.68vw, 45px);
        }
      }
      .main-content-link {
        ul {
          display: flex;
          gap: clamp(10px, 1vw, 25px);

          li {
            list-style: none;

            a {
              text-decoration: none;
              color: var(--white);
              /* font-size: 30px; */
              font-size: clamp(20px, 2vw, 35px);
              transition: color 0.3s;

              &:hover {
                color: var(--red);
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 700px) {
    .main-container {
      flex-direction: column;
      margin: 5%;
      gap: 5vw;

      .main-img {
        width: 70%;
        margin-top: unset;
        transform: translateX(0);
        border-bottom: 1px solid var(--red);
      }
      .main-content {
        width: 85%;
        transform: translateX(0);
        text-align: center;

        .main-content-link {
          ul {
            justify-content: center;
          }
        }
      }
    }
  }
}
/*  */
/*  */
/*  */
.about {
  display: flex;
  justify-content: center;

  .about-container {
    /* margin: 60px; */
    margin: clamp(20px, 4vw, 60px);
    display: flex;
    flex-direction: column;

    .about-row {
      display: flex;
      /* gap: 1.2vw; */
      gap: clamp(12px, 1.2vw, 18px);

      &:nth-child(2) {
        .about-content-not-empty {
          p {
            text-align: right;
            text-align-last: right;
          }
        }
      }

      .about-content {
        /* width: 400px; */
        /* width: 25vw; */
        width: clamp(255px, 25.5vw, 450px);
        /* height: 180px; */
      }
      .about-content-not-empty {
        /* border: 1px solid white; */
        color: var(--white);

        p:nth-of-type(1) {
          /* font-size: 30px; */
          /* font-size: 2vw; */
          font-size: clamp(20px, 2vw, 33px);
          font-weight: bold;
          /* margin-bottom: 0.5vw; */
          margin-bottom: clamp(4px, 0.5vw, 12px);
        }
        p:nth-of-type(2) {
          /* font-size: 22px; */
          /* font-size: 1.3vw; */
          font-size: clamp(15px, 1.3vw, 23px);
          /* margin-bottom: 0.5vw; */
          margin-bottom: clamp(4px, 0.5vw, 12px);
          text-align: justify;
        }
        p:nth-of-type(3) {
          /* font-size: 18px; */
          /* font-size: 1.1vw; */
          font-size: clamp(15px, 1.1vw, 19px);
          color: var(--grey);
        }
      }

      .about-content-mid {
        display: flex;
        flex-direction: column;
        align-items: center;

        .about-content-mid-circle {
          /* width: 15px; */
          width: clamp(7px, 1vw, 15px);
          /* height: 15px; */
          height: clamp(7px, 1vw, 15px);
          border-radius: 100%;
          background-color: var(--white);
        }
        .about-content-mid-line {
          height: 100%;
          /* width: 3px; */
          width: clamp(1px, 0.2vw, 3px);
          background-color: var(--white);
        }
      }
    }
  }
  @media (max-width: 580px) {
    .about-container {
      margin: 8vw 1.5vw;

      .about-row {
        &:nth-child(2) {
          .about-content-not-empty {
            p {
              text-align: justify;
              text-align-last: left;
            }
          }
        }

        &:last-child {
          .about-content-not-empty {
            padding-bottom: 0;
          }
        }

        .about-content-not-empty {
          order: 2;
          padding-bottom: 5vw;
        }

        .about-content-empty {
          display: none;
        }
      }
    }
  }
}
/*  */
/*  */
/*  */
.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .skill-container {
    width: 80%;
    outline: 1px solid green;

    &[data-animated="true"] {
      overflow: hidden;
    }
    &[data-animated="true"] .skill-list {
      flex-wrap: nowrap;
    }
    &[data-animated="true"] .scroller-inner-right {
      width: fit-content;
      animation: scroll-right 20s linear infinite;
    }
    &[data-animated="true"] .scroller-inner-left {
      width: fit-content;
      animation: scroll-left 20s linear infinite;
    }
  }

  .skill-list {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;

    li {
      img {
        width: 200px;
        font-size: 200px;
      }
    }
  }
}
@keyframes scroll-right {
  to {
    transform: translateX(50%);
  }
}
@keyframes scroll-left {
  to {
    transform: translateX(-50%);
  }
}
/*  */
/*  */
/*  */
.project {
  .project-container {
    margin: 1.5vw clamp(7px, 10vw, 300px);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* gap: 3vw; */
    /* row-gap: 1vw; */
    row-gap: clamp(25px, 1vw, 25px);
    /* column-gap: 3vw; */
    column-gap: clamp(25px, 3vw, 75px);

    .project-row {
      display: flex;
      flex-direction: column;
      gap: clamp(8px, 0.8vw, 20px);
      padding: 1vw;
      /* border: 1px solid var(--red); */

      .project-container-title {
        p {
          color: var(--white);
          font-weight: bold;
          font-size: clamp(21px, 2vw, 33px);
          text-align: center;
        }
      }
      .project-container-content {
        display: flex;
        gap: clamp(8px, 1.5vw, 37.8px);
        justify-content: center;
        flex-wrap: wrap;

        .project-p {
          height: clamp(300px, 25vw, 450px);
          width: clamp(220px, 19vw, 330px);
          padding: clamp(10px, 1vw, 16px);
          background-color: var(--dark-grey);
          display: flex;
          flex-direction: column;
          gap: clamp(2px, 0.3vw, 5px);
          color: var(--white);

          .p-res {
            iframe {
              width: 100%;
              height: clamp(123.75px, 10.5vw, 185.63px);
            }
            img {
              width: 100%;
            }
          }
          .p-title {
            p {
              font-size: clamp(16px, 1.3vw, 23px);
              font-weight: bold;
            }
          }
          .p-desc {
            p {
              font-size: clamp(15px, 1.1vw, 19px);
              line-height: clamp(18px, 1.3vw, 23px);
              /* line-height: 20px; */
            }
          }
          .p-link {
            margin-top: auto;
            a {
              font-size: clamp(15px, 1.1vw, 19px);
              color: var(--white);
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
/*  */
/*  */
/*  */
.blog {
  display: flex;
  justify-content: center;

  .blog-container {
    display: flex;
    justify-content: center;
    gap: 1.3vw;
    width: 65%;
    margin: 2vw 0;

    .blog-title {
      p {
        /* font-size: 2vw; */
        font-size: clamp(21px, 2vw, 33px);
        font-weight: bold;
        color: var(--white);
        margin-top: 2vw;
      }
    }
    .blog-content {
      width: 88%;

      ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: clamp(10px, 1vw, 20px);

        li {
          a {
            display: flex;
            align-items: center;
            gap: clamp(10px, 1vw, 25px);
            color: var(--white);
            text-decoration: none;
            padding: clamp(8px, 1vw, 25px);
            border: 1px solid var(--red);
            /* font-size: 1.2vw; */
            font-size: clamp(15px, 1.2vw, 23px);

            .blog-link {
              margin-left: auto;
              transform: translateX(-85%);
              opacity: 0;
              transition: 0.5s;
            }
            &:hover {
              .blog-link {
                transform: translateX(0);
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 900px) {
    .blog-container {
      flex-direction: column;
      align-items: center;
      width: 90%;
      margin: 8vw 1.5vw;
      gap: clamp(8px, 2.5vw, 20px);

      .blog-title {
        width: 100%;
        p {
          text-align: left;
          margin-top: 0;
          margin-left: 4%;
        }
        @media (max-width: 515px) {
          p {
            text-align: center;
            margin-left: 0;
          }
        }
      }

      .blog-content {
        width: 100%;
      }
    }
  }
}
/*  */
/*  */
/*  */
footer {
  background-color: var(--black);
  display: flex;
  justify-content: center;

  .footer-container {
    margin-top: 2%;
    padding: 18px 0 32px 0;
    /* width: 60%; */
    width: clamp(700px, 55vw, 1292px);
    border-top: 1px solid var(--grey);
    display: flex;
    justify-content: space-between;

    p {
      color: var(--grey);
      text-align: center;
      font-size: clamp(14px, 1vw, 17px);
    }
  }
  @media (max-width: 1000px) {
    .footer-container {
      width: 70%;
      p {
        font-size: clamp(10px, 1.98vw, 14px);
      }
    }
  }
  @media (max-width: 900px) {
    .footer-container {
      flex-direction: column;
      p {
        line-height: 3vw;
      }
    }
  }
}
